# iOS CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/ios-migrating-from-1-2/ for more details
#
version: 2
jobs:
  build:

    # Specify the Xcode version to use
    macos:
      xcode: "8.3.3"

    steps:
      - checkout

      - run: ./build.sh

      - store_artifacts:
          path: packed

checkout:
  post:
    - git submodule sync
    - git submodule update --init
